<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Welcome to Fleur, <%= @user.name %></h1>
    <p>
      My name is Chris and I am happy to say you have successfully signed up for Fleur.<br/>
      We're excited you've decided to join us.
    </p>
    <p>
      These are early days. What you see is just the beginning for Fleur; you should expect things to change quickly.
    </p>
    <p>Unlike emails from some sites, this is my personal email. I will read anything you send.<br/>
        Just reply to this email if you see things you love, things you hate or if you just want to chat.</p>

      <p>In the meantime, browse happy, shop often and enjoy Fleur.<br/>
      http://www.shopfleur.co</p>

      <p>Best,</br>
      Chris Finlayson
      </p>
  
  </body>
</html>