
<div class="row">
  <div class="center_well">
	   <div class="well" style="background-image: url('<%= pin.image %>')" onclick="window.open('<%= pin.product_url %>','mywindow');">
	   </div>

  </div>
	
</div>
	