<div id="pins">
	<div class="well_header">Start Building Your Personal Catalog</div>
		<%= render @pins %>
	<div class="btn_left"> 	
   				<%= link_to "Meh..", "#", class: "btn btn-block btn-large" %>
	</div>
	
	<div class="btn_right"> 	
					<%= link_to "Yes!", "#", class: "btn btn-block btn-large" %>
	</div>

</div>	
