<div id="pins">
	<%= current_user.name %>
	<div class="well_header">Start Building Your Personal Catalog</div>
		<%= render @pins %>
	<div class="btn_left"> 	
   				<%= link_to "Meh..", "#", class: "btn btn-block btn-large" %>
	</div>
	
	<div class="btn_right"> 	
					<%= link_to 'Yes!', {:controller => "views", 
                       :action => "create", 
                       :user_id => current_user.id, 
                       :pin_id => @pins.id},
                       :method => "post" %>
	</div>

</div>	
