<div class="full_page">
	<div class="left_header">About Fleur</div>

		<div class="about_text">
			<div class="about_head">What is Fleur?</div>
			Fleur embodies the journey that is fashion. It's about browsing styles you've never seen and discovering things you did not know you had to own. It's Tinder for clothes. It's Pinterest, but tamed and manageable. It's as if we built an online retailer just for you. 
			</br>
			</br>

			<div class="about_head">How does Fleur work?</div>
			<p>We start by hand-selecting a diverse collection of clothes from everywhere. We work hard to make sure every image is worth seeing and every item is shoppable. </p><p>Then you browse the images by clicking Yes! and Less to tell us what you think. We save your Yes!'s to your catalog where you can shop the looks. We hide the Less's. As Fleur learns what you like, it gets better as showing you things it knows you'll love. Simple, right?</p>

			<div class="about_head">Is this the end?</div>
			Of course not. This is just the beginning for Fleur. We're working hard to get personalization right. We also want Fleur to be everywhere you are. Check out this video to get a sneak peak at where we are going.</br>

			https://www.youtube.com/watch?v=M_Jy9m81nns
		</div>


</div>


