$navbarBackgroundHighlight: White;
$navbarBackground: White;
$btnPrimaryBackground: Green;

@import 'bootstrap';
@import 'bootstrap-responsive';
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:600|);

body {
		padding-top: 60px
}

/* header */

.header {
	margin-top: 5px;
	padding-left: 0px;
	font-family: 'Crimson Text', serif;
	font-size: 18px;

}

.logo {
	float: left;
	margin-right: 8px;
	margin-bottom: 5px;
	font-size: 30px;
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  padding-left: 0px;
  font-size: 12px;
}

footer a {

&:hover {
  color: black;
  text-decoration: none;
}
}

.footer_right{
  float: right;
  padding-right: 60px;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Index & General */

.description {
	margin: 10px 0 5px;
}

.well_header{
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 25px;
	font-family: 'Crimson Text', serif;
}

.well_header img {
	padding-top: 20px;
}

.well_flash{
	font-size: 22px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 15px;
	font-family: 'Crimson Text', serif;	
	color: red;
}

.well{
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	Margin-left:auto;
    Margin-right:auto;
	height: 400px;
	width: 550px;
	background-color: white;

}

.well img {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	Margin-left:auto;
    Margin-right:auto;
}

.btn_well{
	Margin-left:auto;
    Margin-right:auto;
	width: 550px;
	background-color: white;
}

.btn_well_left {
	float:left;
}

.btn_left {
	float: left;
	width: 240px;
}

.counter {
	float: right;
	border: 1px solid #e3e3e3;
	height: 33px;
	width: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left: 12px;
	font-size: 18px;
	color: #777777;
	padding-top: 12px;
	text-align:center;

}

.btn_right {
	float: right;
	width: 240px;
}

.left_header{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 25px;
	font-family: 'Crimson Text', serif;
}

.center_text {
	text-align: center;
	font-size: 18px;
}

.center_small{
	text-align: center;
	color: $gray;
}

.manage_item {
	Margin-left:auto;
    Margin-right:auto;
}

.about_head {
	font-weight:bold;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 5px;
	display: block;
}

.about_text {
	width: 60%;
	 clear:both;
}

.about_video{
	padding-top: 20px;
}

.full_page{
	width: 100%	;
}

/* Shop */

.shop {
	padding-top: 10px;
}

.shop img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:5px;
	
}

/* Required for jQuery Masonry */

.box{
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 450px;
	height: 450px;
}

.table_spacer{
	padding-left: 40px;
}
