$navbarBackgroundHighlight: White;
$navbarBackground: White;
$btnPrimaryBackground: Green;

@import 'bootstrap';
@import 'bootstrap-responsive';
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

html {
    height: 100%;
}

body {
		font-family: 'Lato', serif;
		margin: 0;
		background-color:#f1f4f6;
		font-size: 18px;
		font-weight: 300;
		-webkit-font-smoothing:subpixel-antialiased;
		color:#303643;
}

/* header */

.header {
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 0px;
	font-size: 18px;
}

.logo {
	float: left;
	margin-right: 8px;
	margin-bottom: 5px;
	font-size: 30px;
}

/* footer */

footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
  padding-left: 0px;
  font-size: 14px;
  width: 100%;
  clear: both;
  padding-bottom: 50px;
  text-align:center;
  padding-top:15px;
}

footer a {
&:hover {
  color: black;
  text-decoration: none;
}
}


.footer_right{
  display:block;
  text-align:center;
  margin-top:20px;
}

.footer_right a img{
	opacity:0.2;
	-webkit-transition:all 0.15s ease-out;
}

.footer_right a:hover img{
	opacity:0.6;
}

.footer {
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Index & General */

.description {
	margin: 10px 0 5px;
}

.well_header{
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: 300;
	color:#303643;
}


.well_header img {
	padding-top: 20px;
}

.well_flash{
	font-size: 22px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 15px;
	color: red;
}

.center_well {
 
 	width: 830px ;
 	margin-left: auto;
  	margin-right: auto;
  	height: auto;
	overflow:hidden;
}

.info_well {
	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	height: 520px;
  	padding-left: 200px;
  	padding-top: 30px;

}

.well{
	margin-top: 10px;
	padding:0px;
	border:none;
	float:left;
	height: 530px;
	width: 830px;
	background-color: transparent;
	background-size: contain;
	background-position: center center;
	background-repeat:no-repeat;
	box-shadow:none;
	cursor: pointer; cursor: hand;

}

.show_info {
	margin-top: 10px;
	padding: 15px;
	float:left;
	height: 400px;
	font-size: 20px;
	text-align: center;

}

.show_info img{
	padding-bottom: 10px;
}

.show_info p {
	padding-bottom: 5px;
}

.new_pin {
	margin-top: -10px;
	padding: 7px;
	background-color: black;
	color: white;
}

.btn_well{
	Margin-left:auto;
   Margin-right:auto;
	width: 550px;
}

.btn_well_left {
	float:left;
}

.btn_left {
	float: left;
	width: 240px;

}

.counter {
	float: right;
	height: 33px;
	width: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 12px;
	font-size: 18px;
	color: #777777;
	padding-top: 12px;
	text-align:center;
	font-weight:500;

}

.btn_right {
	float: right;
	width: 240px;
}

.left_header{
	font-size: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.center_text {
	text-align: center;
	font-size: 18px;
}

.center_small{
	text-align: center;
	color: #777777;
	font-size: 14px;
}

.manage_item {
	Margin-left:auto;
    Margin-right:auto;
}

.about_head {
	font-weight:bold;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 5px;
	display: block;
}

.about_text {
	width: 60%;
	 clear:both;
}

.about_video{
	padding-top: 20px;
}

.full_page{
	width: 100%	;
}

/* Shop */

.shop{
	width:100%;
	clear: both;
}

.shop_pic {
	float:left;
	margin: 5px;
	padding: 5px;
	height: 440px;
	border: 1px solid #e3e3e3;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.shop_pic_top img{
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	padding-bottom: 5px;

}
.shop_pic_low{
	text-align: right;

}

.shop_pic_low img {
	float:left;
}

.hero-unit {
	padding-top: 10px;
	padding-bottom: 0px;
}

/* Required for jQuery Masonry */

.box{
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 450px;
	height: 450px;
}

.table_spacer td{
	width: 175px;
}



/* Button Styles */

.btn-success, .btn-danger {
	background-image:none;
	border-color:transparent;
	box-shadow:none;
	font-size:21px;
	text-shadow:none;
	border-radius:0px;
	-webkit-transition:all 0.15s ease-out;
	width:220px;
}

.btn-success{
	background-color:#f97b5e;
	border-bottom:3px solid #d6674e
}

.btn-danger{
	background-color:#59616f;
	border-bottom:3px solid #434954;
}

.btn-success:hover{
	background-color:#db6c52;
	-webkit-transition:all 0.15s ease-out;
}

.btn-danger:hover{
	background-color:#444b57;
	-webkit-transition:all 0.15s ease-out;
}



/* Nav Bar */

.navbar-inner{
	box-shadow:none;
	background-colo:#e3e5e7;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow:none;
	background:none;
}

.navbar-static-top{
	background-color:#303643;
}

.navbar .nav > li > a {
	color:rgba(255,255,255,0.8);
	text-shadow:none;
	text-transform:capitalize;
	letter-spacing:1px;
	font-weight:300;
	font-size:15px;
	-webkit-transition:all 0.2s ease-out;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color:rgba(255,255,255,1);
}